<%= render "logo" %>

<strong><%= link_to "Back", :back, class: "nolink" %></strong>
<br></br>

<div class="mainbox">
  <div class="mainformbox">
    <div class="ticketformtitle"> 
      <p class="XLfont book lopad">New Comment</p>
    </div>

    <div class="ticketform">
      <ul class="form">
        <%= form_with model: [generic, generic.comments.build] do |form| %>  
          <div>
            <strong><%= form.label :commenter %></strong><br>
            <textfield class="field2"> <%= form.text_field :commenter %> </textfield>
          </div>
          <br>
 
          <div style="overflow: auto">
            <strong><%= form.label :body %></strong><br>
            <textfield class="field3"> <%= form.text_area :body, style: "width:85%; height: 150px" %> </textfield>
          </div>
          <br>

          <div>
            <strong><%= form.label :status %></strong><br>
            <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
          </div>
          <br>

          <div>
            <%= form.submit class: "form-submit-button" %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
