<html>
<body style="background-color: #ffffc2">
</body>
</html>
<style>
.nolink {
  text-decoration: none;
  color: darkblue
}
</style>

<%= link_to "Back", :back, class: "nolink" %>

<br></br>


<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body, size: "125x25" %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <br></br>

  <div>
  <%= form.label :status %><br>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>

  <br></br>

  <div>
    <%= form.submit %>
  </div>
</div>

<% end %>

