<%= render "logo" %>

<strong><%= link_to "Back", "/articles/#{article.id}", class: "nolink" %></strong>
<br></br>

<div class="mainbox">
  <div class="mainformbox">
    <div class="ticketformtitle"> 
      <p class="XXLfont book lopad"><%= params[:action].capitalize %> Article</p>
    </div> 

    <div class="ticketform">
      <ul class="form">
        <%= form_with model: article do |form| %>
          <div>
            <strong><%= form.label :title %></strong><br>
            <textfield class="field2"> <%= form.text_field :title %> </textfield>
            <% article.errors.full_messages_for(:title).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
          <br>
 
          <div style="overflow: auto">
            <strong><%= form.label :body %></strong><br>
            <textfield class="field3"> <%= form.text_area :body, style: "width: 80%; height: 150px" %> </textfield><br>
            <% article.errors.full_messages_for(:body).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
          <br>
 
          <div>
            <strong><%= form.label :status %></strong><br>
            <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
          </div>
          <br></br>

          <div>
            <%= form.submit class: "form-submit-button" %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
