<%= render 'headerlink' %>

<div class="mainbox">
  <div class="testsubbox">
    <div class="boxsubheader">
      <h2 class="XXLfont">Articles</h2>
      <p class="Mfont book">
        <%= link_to "New", "/articles/new", class: "nolink" %> |
        <%= link_to "Sort", "/test/horse", class: "nolink" %> |
        <%= link_to "Filter", "/test/horse", class: "nolink" %>
      </p>
      <%= render 'searchform', ticket: 'articles', path: '' %>
      <br>
    </div>
  </div>
  <br>

  <div class="testbox">
    <div class="box80">
      <ol>
        <% @articles.each do |article| %>
          <% unless article.archived? %>
            <li>
              <p class="book"> <%= link_to article.title, article, class: "nolink" %> </p>
            </li>
          <% end %>
        <% end %>
      </ol>
    </div>
  </div>
</div>
