<%= render "logo" %>

<style>
  ul {
    width: 500px;
  }
  ul li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }

  ul li > * {
    width: 190px;
  }
</style>


<%= link_to "Back", :back, class: "book nolink" %>

<br></br>

<div class="mainbox">
  <div class="mainformbox" style="overflow: hidden;">
    <div class="ticketformtitle">
      <p class="XXLfont book lopad">Provision Tag</p>
    </div>

    <div class="ticketform">
      <%= form_with model: provision_tag do |form| %>
        <ul>
          <li>
            <strong><%= form.label :version %></strong>
            <%= form.select :version, ['6.7', '6.8', '6.9', '6.10'] %>
          </li>
          <br></br>

          <% list = [:contentview, :capsule, :http, :ui, :pxe, :bootstrap, :kickstart, :discover, :image, :compute, :bootdisk, :ipxe] %>
          <% counter = 0 %>
          <% list.each do |key|  %>  
            <li>
              <div class="form-check">
                <%= form.check_box key %>
                <strong><%= form.label key %></strong>
                <% counter +=1 %>
              </div>
            </li>
            <% if counter % 2 == 0 %>
              <br></br>
            <% end %>
          <% end %>
          <br></br>
 
          <%= form.hidden_field :provision_taggable_id, value: provision_taggable_id %>
          <%= form.hidden_field :provision_taggable_type, value: provision_taggable_type %>

          <li>
            <%= form.submit class: "form-submit-button" %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
