<%= render "logo" %>
<% id ||= params[:ticketid] %>
<strong><%= link_to "Back", "/cases/#{id}", class: "nolink" %></strong>
<br></br>
<div class="mainbox">
  <div class="mainformbox">
    <div class="ticketformtitle"> 
      <div class="whiteheadtitle">
        <p class="XXLfont book lopad">Add Case API</p>
      </div>
    </div> 
    <div class="ticketform">
      <ul class="form">
        <%= form_tag("/cases/newapi", method: :get) do %>
          <strong><%= label_tag :case_number %></strong><br>
          <textfield class="field2"><%= text_field_tag(:case_number, params[:case_number], size: 22) %></textfield><br>
          <br></br>
          <%= button_tag "Search", class: "form-search-button" %>
        <% end %>
      </ul>
    </div> 
  </div>
</div>
