<html>
<body style="background-color: #ffffc2">
</body>
</html>
<style>
.nolink {
  text-decoration: none;
  color: darkblue
}
</style>


<%= link_to "Back", :back, class: "nolink" %>

<br></br>


<%= form_with model: generic do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% generic.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :number %><br>
    <%= form.number_field :number %><br>
    <% generic.errors.full_messages_for(:number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :importance %><br>
    <%= form.number_field :importance %><br>
  </div>

  <div>
    <%= form.label :notes %><br>
    <%= form.text_area :notes, size: "125x25" %><br>
  </div>

  <br></br>

  <div>
  <%= form.label :status %><br>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>

  <br></br>

  <div>
    <%= form.submit %>
  </div>
</div>

<% end %>
