<%= render "logo" %>

<style>
  ul {
    width: 550px;
  }
  ul li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }
  ul li > * {
    width: 170px;
  }
</style>

<%= link_to "Back", :back, class: "nolink book" %>
<br></br>

<div class="mainbox">
  <div class="mainformbox" style="overflow: hidden;">
    <div class="ticketformtitle">
      <p class="XXLfont book lopad">Network Tag</p>
    </div>
    <div class="ticketform">
      <%= form_with model: network_tag do |form| %>
        <ul>
          <% list = [:ipv4, :ipv6, :bond, :vlan, :bridge, :proxy, :firewall] %>
          <% counter = 0 %>
          <% list.each do |key|  %>  
            <li>
              <div class="form-check">
                <%= form.check_box key %>
                <strong><%= form.label key %></strong>
                <% counter +=1 %>
              </div>
            </li>
            <% if counter % 2 == 0 %>
              <br></br>
            <% end %>
          <% end %>
          <br></br>
          <%= form.hidden_field :network_taggable_id, value: network_taggable_id %>
          <%= form.hidden_field :network_taggable_type, value: network_taggable_type  %>
          <li>
            <%= form.submit class: "form-submit-button" %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
