<%= render "logo" %>
<% id ||= params[:id] %>
<strong><%= link_to "Back", :back, class: "nolink" %></strong>
<br></br>

<div class="mainbox">
  <div class="mainformbox">
    <div class="ticketformtitle"> 
      <div class="whiteheadtitle">
        <p class="XXLfont book lopad">Case Attachments</p>
      </div>
    </div> 

    <div class="ticketform">
      <ul class="form">
        <%= form_tag("/test/attachment_download", method: :get) do %>
          <strong><%= label_tag "Case ID" %></strong><br>
          <textfield class="field"><%= text_field_tag(:account_number, params[:account_number], size: 22) %></textfield>
          <br></br>
          <%= button_tag "Search", class: "form-search-button" %>
        <% end %>
      </ul>
    </div> 
  </div>
</div>
