<%= render "logo" %>
<% id ||= params[:id] %>
<strong><%= link_to "Back", :back, class: "nolink" %></strong>
<br></br>

<div class="mainbox">
  <div class="mainformbox">
    <div class="ticketformtitle"> 
      <div class="whiteheadtitle">
        <p class="XXLfont book lopad">User Solutions</p>
      </div>
    </div> 

    <div class="ticketform">
      <ul class="form">
        <%= form_tag("/test/solution_user", method: :get) do %>
          <%#= form_tag("/#{ticket}/#{path}", method: :get) do %>
          <strong><%= label_tag "User RHN Name" %></strong><br>
          <textfield class="field"><%= text_field_tag(:solution_number, params[:solution_number], size: 22) %></textfield>
          <p class="linebreaker"></p>
          <strong><%= label_tag "Search word" %></strong><br>
          <textfield class="field"><%= text_field_tag(:solution_search, params[:solution_search], size: 22) %></textfield>
          <%#= text_field_tag(:search, params[:search], size: 22, style: "margin-right: 4px; border: 2px solid black") %>

          <%# Using this button to clear the form prevents the user from hitting enter
              to submit a search.  In the url you can see the issue is that the there are
              2 search variables (i.e. ?search=something&search=). One is blank and one has 
              the search string. %>
          <%#= button_tag "x", name: 'search', value: '', class: "form-reset-button book" %>
          <br></br>
          <%= button_tag "Search", class: "form-search-button" %>
        <% end %>
      </ul>
    </div> 
  </div>
</div>
