<%= render 'headerlink' %>

<div class="mainbox">
  <div class="testsubbox">
    <div class="boxsubheader">
      <h2 class="XXLfont">Work</h2>
      <p class="Mfont book">
        <%= link_to "New", "/test/horse", class: "nolink" %> |
        <%= link_to "Sort", "/test/horse", class: "nolink" %> |
        <%= link_to "Filter", "/test/horse", class: "nolink" %>
      </p>
      <%= render 'searchform', ticket: 'test', path: 'index' %>
      <br>
    </div>
  </div>
  <br>
  <%= render 'ticketmainbox', tickets: @cases, ticket: 'case' %>
  <%= render 'ticketmainbox', tickets: @solutions, ticket: 'solution' %>
  <%= render 'ticketmainbox', tickets: @bugs, ticket: 'bug' %>
</div>
