<%= render "logo" %>
<% type ||= params[:tag_taggable_type] %>
<% type ||= params[:tag][:tag_taggable_type] %>
<% id ||= params[:tag_taggable_id] %>
<% id ||= params[:tag][:tag_taggable_id] %>
<strong><%= link_to "Back", "/#{type.downcase}s/#{id}", class: "nolink" %></strong>
<br></br>
<div class="mainbox">
  <div class="mainformbox">
    <div class="ticketformtitle">
      <p class="XXLfont book lopad">Tag Object</p>
    </div>
    <div class="ticketform">
      <ul class="form field3">
        <%= form_with(model: tag, local: false) do |f| %>
          <div>
            <strong><%= f.label :tag_group_id %></strong><br>
            <%= f.select :tag_group_id, TagGroup.all.collect {|c| [c.name, c.id]}, {prompt: "Select Group"}, {class: "ello"} %>
          </div>
          <br>

          <div id="state_field">
            <strong><%= f.label :tags_item_id %></strong><br>
            <%= f.select(:tag_item_id, @tag_items, {prompt: "Select Tag"}) %>
          </div>
          <br>

          <%= f.hidden_field :tag_taggable_id, value: params[:tag_taggable_id] %>
          <%= f.hidden_field :tag_taggable_type, value: params[:tag_taggable_type] %>
 
          <div>
            <%= f.submit "Submit", class: "form-submit-button" %>
          </div> 
        <% end %>
      </ul>
    </div>
  </div>
  <%= javascript_pack_tag 'dynamic_tags' %>
</div>
