  <style>
  div {
    border: 5px solid green;
    padding: 20px;
    margin: 10px;
    width: 30%
  }
  .box {
    overflow: hidden;
    width: 70%
  }
  </style>
  <div class="box">
    <p>
      <strong>First Name:</strong>
      <%= engineer.first_name %>
    </p>

    <p class="box">
      <strong>Last Name:</strong>
      <%= engineer.last_name %>
    </p>

    <p class="box">
      <strong>Irc:</strong>
      <%= engineer.irc %>
    </p>

    <p class="box">
      <strong>Position:</strong>
      <%= engineer.position %>
    </p>

    <p class="box">
      <strong>Bugs:</strong>
      <% unless engineer.bugs.empty? %>
        <%= link_to "Bugs", engineer_bug_path(engineer.id, engineer.bugs.ids) %>
      <% else %>
        No bugs yet.
      <% end %>
    </p>

    <p class="box">
      <strong>Solutions:</strong>
      <% unless engineer.solutions.empty? %>
        <%= link_to "Solutions", engineer_solution_path(engineer.id, engineer.solutions.ids) %>
      <% else %>
        No bugs yet.
      <% end %>
    </p>

    <p class="box">
      <strong>Cases:</strong>
      <% unless engineer.cases.empty? %>
        <%= link_to "Cases", engineer_case_path(engineer.id, engineer.cases.ids) %>
      <% else %>
        No bugs yet.
      <% end %>
    </p>

    <p class="box">
      <strong>Bug Coverages:</strong>
      <%= render engineer.bug_coverages %>
<%#      <%= link_to "Coverages", bug_coverages_path(@bug_coverage) %>
    </p>
    <p class="box">
      <strong>Solution Coverages:</strong>
      <%= render engineer.solution_coverages %>
<%#      <%= link_to "Coverages", bug_coverages_path(@bug_coverage) %>
    </p>
    <p class="box">
      <strong>Case Coverages:</strong>
      <%= render engineer.case_coverages %>
<%#      <%= link_to "Coverages", bug_coverages_path(@bug_coverage) %>
    </p>

    <p class="box">
      <div class="box1">
        <h2>Comments</h2>
        <%= render engineer.comments %>
      </div>
    </p>
  </div>

<p>
  <%= link_to "Remove Engineer", engineer_path(engineer), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>

  <div class="box">
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
  </div>

</p>
<br></br>
