<%= render "logo" %>
<% id ||= params[:id] %>
<strong><%= link_to "Back", "/engineers/#{id}", class: "nolink" %></strong>
<br></br>

<div class="mainbox">
  <div class="mainformbox">
    <div class="ticketformtitle"> 
      <div class="whiteheadtitle">
        <p class="XXLfont book lopad">Add Engineer API</p>
      </div>
    </div> 

    <div class="ticketform">
      <ul class="form">
        <%= form_tag("/engineers/newapi", method: :get) do %>
          <strong><%= label_tag "First name" %></strong><br>
          <texfield class="field2"> <%= text_field_tag(:engineer_first, params[:engineer_first], size: 22) %></textfield><br></br>
          <strong><%= label_tag "Last name" %></strong><br>
          <%= text_field_tag(:engineer_last, params[:engineer_last], size: 22) %><br>
          <br></br>
          <%= button_tag "Search", class: "form-search-button" %>
        <% end %>
      </ul>
    </div> 
  </div>
</div>
