<%= render "logo" %>
<% id ||= session[:engineer_id] %>
<% id ||=engineer.id %>

<strong><%= link_to "Back", "/engineers/#{id}", class: "nolink" %></strong>
<br></br>

<div class="mainbox">
  <div class="mainformbox">
    <div class="ticketformtitle"> 
      <div class="whiteheadsubtitle">
        <p class="XXLfont book lopad">New Engineer</p>
      </div>
    </div> 

    <div class="ticketform">
      <ul class="form">
        <% list = [:first_name, :last_name, :position, :irc] %>
        <%= form_with model: engineer do |form| %>
          <% list.each do |key| %>
            <div>
              <strong><%= form.label key %></strong><br>
              <textfield class="field2"> <%= form.text_field key %> </textfield>
              <% engineer.errors.full_messages_for(key).each do |message| %>
                <div><%= message %></div>
              <% end %>
            </div>
            <br>
          <% end %>

          <div>
            <strong><%= form.label :status %></strong><br>
            <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
          </div>
          <br></br>

          <div>
             <%= form.submit class: "form-submit-button" %>
          </div>
        <% end %>
      </ul>
    </div> 
  </div>
</div>
