<html>
<body style="background-color: #ffffc2">
</body>
</html>
<style>
.nolink {
  text-decoration: none;
  color: darkblue
}
</style>

<%= link_to "Back", :back, class: "nolink" %>

<br></br>

<%= form_with model: engineer do |form| %>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
    <% engineer.errors.full_messages_for(:first_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %><br>
    <% engineer.errors.full_messages_for(:last_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :position %><br>
    <%= form.text_field :position %><br>
    <%# engineer.errors.full_messages_for(:position).each do |message| %>
      <div><%# message %></div>
    <%# end %>
  </div>

  <div>
    <%= form.label :irc %><br>
    <%= form.text_field :irc %><br>
    <%# engineer.errors.full_messages_for(:irc).each do |message| %>
      <div><%# message %></div>
    <%# end %>
  </div>

  <br></br>

  <div>
  <%= form.label :status %><br>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>


  <br></br>
  <br></br>

  <div>
    <%= form.submit %>
  </div>

</div>

<% end %>

