<%= render 'headerlink' %>

<div class="mainbox">
  <div class="testsubbox">
    <div class="boxsubheader">
      <h2 class="XXLfont">Engineers</h2>
      <p class="Mfont book">
        <%= link_to "New", "/engineers/new", class: "nolink" %> |
        <%= link_to "API", "/engineers/findapi", class: "nolink" %> |
        <%= link_to "Sort", "/test/horse", class: "nolink" %> |
        <%= link_to "Filter", "/test/horse", class: "nolink" %>
      </p>
      <%= render 'searchform', ticket: 'engineers', path: '' %>
    <br>
    </div>
  </div>
  <br>

  <div class="testbox">
    <div class="box80">
      <ol>
        <% @engineers.each do |engineer| %>
          <li>
            <p class="book"> <%= link_to "#{engineer.first_name} #{engineer.last_name}", engineer_path(engineer.id), class: "nolink" %>   <%= link_to "Remove", engineer_path(engineer), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }, class: "nolink Sfont book", style: "margin-left: 5px" %> </p>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
