<%= render 'headerlink' %>
<div class="mainbox">
  <div class="testsubbox">
    <div class="boxsubheader">
      <h2 class="XXLfont">Engineer:</h2>
      <strong><title><%= @engineer.first_name %> <%= @engineer.last_name %> </title></strong>
      <%= render 'engineerlink' %>
    </div>
  </div>
  <br>
  <%= render 'engineerdetails', engineer: @engineer %>
</div>
<div class="mainbox">
  <%= render 'engineercomments', engineer: @engineer %>
</div>


