<html>
<body style="background-color: #ffffc2">
</body>
</html>
<style>
.nolink {
  text-decoration: none;
  color: darkblue;
}
.uplink {
  text-decoration: none;
  color: darkblue;
  font-size: 20px;
}
</style>

<%#<h3>Bugs Show View</h3>
<p style="font-size:13px">Find me in app/views/bugs/show.html.erb</p>%>
<br></br>

<p>
  <%= link_to "Work", :stuff, class: "uplink" %> |
  <%= link_to "Articles", :articles, class: "uplink" %> |
  <%= link_to "Engineers", :engineers, class: "uplink" %>
</p>

<%# link_to "Back", :back %>

<p style="font-size:16px">
  <%= link_to "Cases", :cases, class: "nolink" %> |
  <%= link_to "Solutions", :solutions, class: "nolink" %> |
  <%= link_to "Bugs", :bugs, class: "nolink" %>
</p>

<h2>Bugs</h2>

<p style="font-size:14px">
<%= link_to "Comment", new_bug_comment_path(@bugs), class: "nolink" %> |
<%= link_to "Edit", edit_bug_path(@bugs), class: "nolink" %> |
<%= link_to "Tag Engineer", new_bug_coverage_path(bug_id: @bugs.id), class: "nolink" %> |
<%= link_to "Remove", bug_path(@bugs), data:{
		turbo_method: :delete,
		turbo_confirm: "Are you sure you want to delete bug #{@bugs.title}?"
		}, class: "nolink" %>
</p>

<div style="border:solid darkblue; width: 90%;  background: lightcyan">
<ul>
  <p>Bug: <%= @bugs.title %></p>
  <div style="border: solid darkblue; width: 80%; background: lightblue; padding-left: 22px">
  <p>Id: <%= @bugs.id %></p>
  <p>Title: <%= @bugs.title %></p>
  <p>Number: <%= @bugs.number %></p>
  <p>Importance: <%= @bugs.importance %></p>
  <p>Notes:</p>
  <div style="overflow: scroll; border: solid darkblue; background: lightcyan; width: 80%">
    <p><%= markdown(@bugs.notes) %></p>
  </div>
  <p>Created: <%= @bugs.created_at %></p>
  <p>Updated: <%= @bugs.updated_at %></p>
  <p>Status: <%= @bugs.status %></p>
  <br>
  <p>Comments: <%= render @bugs.comments %></p>
  </div>
  <br>
  <p>Satellite Tag:<p>
    <% if @bugs.satellite_tag %>
      <p style="font-size: 13px">
        <%= link_to "Edit", edit_satellite_tag_path(satellite_taggable_id: @bugs.id, satellite_tag: @bugs.satellite_tag, satellite_taggable_type: 'Bug') %>
        <%= link_to "Remove", satellite_tag_path(@bugs.satellite_tag), data:{
                   turbo_method: :delete,
                   turbo_confirm: "Are you sure you want to delete?"
                } %>
      </p>
      <p>
        <%= render @bugs.satellite_tag %>
      </p>
    <% elsif %>
      <p style="font-size: 13px">
        <%= link_to "New", new_satellite_tag_path(generic_id: @bugs.id, taggable_type: 'Bug') %>
      </p>
    <% end %>
  <br>
  <p>Provision Tag:</p>
    <% if @bugs.provision_tag %>
      <p style="font-size: 13px">
          <%= link_to "Edit", edit_provision_tag_path(provision_taggable_id: @bugs.id, provision_tag: @bugs.provision_tag, provision_taggable_type: 'Bug'), class: "nolink" %>
          <%= link_to "Remove", provision_tag_path(@bugs.provision_tag), data:{
                   turbo_method: :delete,
                   turbo_confirm: "Are you sure you want to delete?"
                }, class: "nolink" %>
        </p>
        <p>
          <%= render @bugs.provision_tag %>
        </p>
    <% elsif %>
      <p style="font-size: 13px">
          <%= link_to "New", new_provision_tag_path(generic_id: @bugs.id, taggable_type: 'Bug'), class: "nolink" %>
        </p>
    <% end %>
   <br>
  <p>Network Tag:</p>
    <% if @bugs.network_tag %>
      <p style="font-size: 13px">
        <%= link_to "Edit", edit_network_tag_path(network_taggable_id: @bugs.id, network_tag: @bugs.network_tag, network_taggable_type: 'Bug'), class: "nolink" %>
        <%= link_to "Remove", network_tag_path(@bugs.network_tag), data:{
                   turbo_method: :delete,
                   turbo_confirm: "Are you sure you want to delete?"
                }, class: "nolink" %>
      </p>
      <p>
        <%= render @bugs.network_tag %>
      </p>
    <% elsif %>
      <p style="font-size: 13px">
          <%= link_to "New", new_network_tag_path(generic_id: @bugs.id, taggable_type: 'Bug'), class: "nolink" %>
        </p>
    <% end %>
  <br>
  <p>Tagged Engineers:</p>
  <% if @bugs.engineers.all.length > 0 %>
  <div style="border: solid darkblue; background-color: lightblue; width: 30%; min-height: 2px; padding-left: 22px">
    <% @bugs.engineers.each do |engineer| %>
      <p>
        <%= engineer.first_name %>
        <%= engineer.last_name %>
        <%= link_to "Remove", bug_coverage_path(BugCoverage.find_by_bug_id_and_engineer_id(params[:id],engineer.id)), data: {
                                                                        turbo_method: :delete,
                                                                        turbo_confirm: "Are you sure?"
                                                                        }, :style => 'font-size: 12px', class: "nolink" %></p>
    <% end %>
  </div>
  <% end %>
</ul>
</div>

