<div class="testsubbox">
  <div class="boxsubheader">
    <div class="whiteheadsubtitle">
      <p class="lopad XXLfont"><strong><%= type.capitalize %>:</strong>
      <strong><title><%= ticket.id %></title></strong></p>
      <p class="lopad Mfont book">
        <%= link_to "Edit", edit_article_path(ticket), class: "nolink" %> |
        <%= link_to "Comment", new_article_comment_path(ticket), class: "nolink" %> |
        <%= link_to "Tag", "/tags/?tag_taggable_type=#{type.capitalize}&tag_taggable_id=#{ticket.id}", class: "nolink" %> |
  
        <%= link_to "Remove", article_path(ticket), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    }, class: "nolink" %>
      </p>
    </div>
  </div>
</div>
<br>

<div class="testbox">
  <div class="tickettitle">
    <div class="whitetitle">
      <strong><p class="XLfont lopadtop">Details</p></strong>
      <p class="Sfont book lopadbot"><%= link_to "Edit", edit_article_path(ticket), class: "nolink" %></p>
    </div>
  </div>

  <div class="box80" style="padding-left: 10px">
    <div class="whitebox">
      <ul style="padding:0">
        <p><strong>Title:</strong> <%= ticket.title %></p>
        <p><strong>Body:</strong> <%= ticket.body %></p>
        <p><strong>Created:</strong> <%= ticket.created_at %></p>
        <p><strong>Updated:</strong> <%= ticket.updated_at %></p>
      </ul>
    </div>
  </div>
</div>
