<div class="righthead">
  <span class="book"><%= link_to raw("pro&#8226;cure"), "/test/index", class: "nolink" %> <b>&nbsp;<%= link_to "work-in memory", "/test/runit", class: "nolink" %></b></span>
</div>
<br>

<div class="uppermain">
  <div class="testtitlebox">
    <div class="boxheader" style="padding-top: 5px">
      <p>
        <%= link_to "Work", :stuff, class: "uplink" %> <c>|</c>
        <%= link_to "Engineers", :engineers, class: "uplink" %> <c>|</c>
        <%= link_to "Articles", :articles, class: "uplink" %>
      </p>

      <p class="Lfont" style="padding-left: 38px">
        <%= link_to "Cases", :cases, class: "twolink" %> <d>|</d>
        <%= link_to "Solutions", :solutions, class: "twolink" %> <d>|</d>
        <%= link_to "Bugs", :bugs, class: "twolink" %>
      </p> 
    </div>
  </div>
</div>

