<%= render 'logo' %>

<strong><%= link_to "ヽ(´ー｀)┌", "/test/colorchange" %></strong>

<div class="uppermain">
  <div class="testtitlebox">
    <div class="boxheader" style="padding-top: 5px">
      <div class="whiteheadtitle">
        <p>
          <%= link_to "Cases", :cases, class: "uplink" %> <d>|</d>
          <%= link_to "KCS", :solutions, class: "uplink" %> <d>|</d>
          <%= link_to "Bugs", :bugs, class: "uplink" %> <d>|</d>
          <%= link_to "Articles", :articles, class: "uplink" %> 
        </p>

        <p >
          <%= link_to "Engineers", :engineers, class: "uplink" %> <d>|</d>
          <%= link_to "Commands", :commands, class: "uplink" %>
        </p> 
      </div>
    </div>
  </div>
</div>

