<div class="mainbox">
  <%= render "ticketheader", ticket: ticket, type: type %> 
  <p class="linebreaker"></p> 
  <%= render "ticketdetails", ticket: ticket, type: type %> 
</div>

<div class="mainbox">
  <%= render "ticketengineer", ticket: ticket, type: type %> 
</div>

<div class="mainbox">
  <%= render "ticketsatellite", ticket: ticket, type: type %> 
</div>

<div class="mainbox">
  <%= render "ticketprovision", ticket: ticket, type: type %> 
</div>

<div class="mainbox">
  <%= render "ticketnetwork", ticket: ticket, type: type %> 
</div>

<div class="mainbox">
  <%= render "ticketcomments", ticket: ticket, type: type %> 
</div>

