<p class="lopad Mfont book">
  <%= link_to "Edit", "/#{type}s/#{ticket.id}/edit?ticketid=#{ticket.id}", class: "nolink" %> |
  <%= link_to "Comment", "/#{type}s/#{ticket.id}/comments/new", class: "nolink" %> |
  <%= link_to "Remove", "/#{type}s/#{ticket.id}", data:{
                turbo_method: :delete,
                turbo_confirm: "Are you sure you want to delete bug #{ticket.title}?"
                }, class: "nolink" %>
</p>
<strong><p class="lopad Mfont book">
  <%= link_to "Engineer", "/engineer_tags/new?#{type}_id=#{ticket.id}&engineer_taggable_type=#{type.capitalize}&engineer_taggable_id=#{ticket.id}", class: "nolink" %> |
  <%= link_to "Tag", "/tags/?tag_taggable_type=#{type.capitalize}&tag_taggable_id=#{ticket.id}", class: "nolink" %> 
</p></strong>

