<%= render "logo" %>
<% ticketid ||= session[:ticketid] %>
<%# ticketid ||=params[:ticketid] %>
<% ticketid ||=ticket.id %>
<strong><%= link_to "Back", "/#{urltick}s/#{ticketid}", class: "nolink" %></strong>
<br></br>

<div class="mainbox">
  <div class="mainformbox">
    <div class="ticketformtitle">
      <div class="whiteheadtitle">
        <p class="XXLfont book lopad"><%= params[:action].capitalize %> <%= urltick.capitalize %></p>
      </div>
    </div>

    <div class="ticketform">
      <ul class="form field3">
        <%= form_with model: ticket do |form| %>
          <div>
            <strong><%= form.label :title %></strong><br>
            <textfield class="field2" style="background: blue"><%= form.text_field :title %></textfield>
            <% ticket.errors.full_messages_for(:title).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
          <br>

          <div>
            <strong><%= form.label "#{urltick.capitalize} Number" %></strong><br>
            <textfield class="field2"> <%= form.number_field :number %> </textfield><br>
            <% ticket.errors.full_messages_for(:number).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
          <br>

          <div>
            <strong><%= form.label :assigned_to %></strong><br>
            <textfield class="field2" style="background: blue"><%= form.text_field :assigned_to %></textfield>
            <% ticket.errors.full_messages_for(:assigned_to).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
          <br>

          <div>
            <strong><%= form.label :product %></strong><br>
            <textfield class="field2" style="background: blue"><%= form.text_field :product %></textfield>
            <% ticket.errors.full_messages_for(:product).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
          <br>

          <div>
            <strong><%= form.label :summary %></strong><br>
            <textfield class="field2"> <%= form.text_area :summary, style: "width: 85%; height: 150px" %> </textfield><br>
            <% ticket.errors.full_messages_for(:summary).each do |message| %>

              <div><%= message %></div>
            <% end %>
          </div>
          <br>

          <div>
            <strong><%= form.label :creator %></strong><br>
            <textfield class="field2" style="background: blue"><%= form.text_field :creator %></textfield>
            <% ticket.errors.full_messages_for(:creator).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
          <br>

          <div>
            <strong><%= form.label :severity %></strong><br>
            <textfield class="field2"> <%= form.text_field :severity %> </textfield><br>

            <% ticket.errors.full_messages_for(:severity).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
          <br>

          <div>
            <strong><%= form.label :qa_contact %></strong><br>
            <textfield class="field2" style="background: blue"><%= form.text_field :qa_contact %></textfield>
            <% ticket.errors.full_messages_for(:qa_contact).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
          <br>

          <div>
            <strong><%= form.label :target_release %></strong><br>
            <textfield class="field2" style="background: blue"><%= form.text_field :target_release %></textfield>
            <% ticket.errors.full_messages_for(:target_release).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
          <br>

          <div>
            <strong><%= form.label :version %></strong><br>
            <textfield class="field2" style="background: blue"><%= form.text_field :version %></textfield>
            <% ticket.errors.full_messages_for(:version).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
          <br>

          <div>
            <strong><%= form.label :whiteboard %></strong><br>
            <textfield class=field2> <%= form.number_field :whitebaord %> </textfield><br>
          </div>
          <br>

          <div>
            <strong><%= form.label :notes %></strong><br>
            <textfield class="field2"> <%= form.text_area :notes, style: "width: 85%; height: 150px" %> </textfield><br>
            <% ticket.errors.full_messages_for(:notes).each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
          <br>

          <div>
            <strong><%= form.label :status %></strong><br>
            <textfield class="myselect"> <%= form.select :status, ['public', 'private', 'archived'] %> </textfield>
          </div>
          <br></br>

          <%= form.hidden_field :creator %>
          <%= form.hidden_field :severity %>
          <%= form.hidden_field :fixed_in %>
          <%= form.hidden_field :release_notes %>
          <%= form.hidden_field :component %>
          <%= form.hidden_field :keywords %>
          <%= form.hidden_field :target_milestone %>
          <%= form.hidden_field :last_change %>
          <%= form.hidden_field :cc %>
          <%= form.hidden_field :cc_detail %>
          <%= form.hidden_field :url %>

          <div>
            <%= form.submit class: "form-submit-button"  %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
