<html>
<body style="background-color: #ffffc2">
</body>
</html>

<style>
div {
  border: solid darkblue;
  padding: 10px;
  margin: 10px;
  width: 25%;
}
.box {
  overflow: hidden;
}
.box2 {
  border: solid blue;
}
.nolink {
  text-decoration: none;
  color: darkblue;
}
.uplink {
  text-decoration: none;
  color: darkblue;
  font-size: 20px;
}
</style>
<%#<h3>Solutions Index View</h3>
<p style="font-size: 13px">Find me in app/views/solutions/index.html.erb</p>%>

<br></br>

<p>
  <%= link_to "Work", :stuff, class: "uplink" %> |
  <%= link_to "Articles", :articles, class: "uplink" %> |
  <%= link_to "Engineers", :engineers, class: "uplink" %>
</p>

  <p style="font-size:16px">
    <%= link_to "Cases", :cases, class: "nolink" %> |
    <%= link_to "Solutions", :solutions, class: "nolink" %> |
    <%= link_to "Bugs", :bugs, class: "nolink" %>
  </p>

<% unless params[:engineer_id] %>
  <h2>Solutions</h2>
<% end %>


<% if params[:engineer_id] %>
  <h2>Solutions (tagged with <%= @engineer.first_name %>):</h2>
  <p style="font-size:14px">
    <%= link_to "Back to #{@engineer.first_name}", "/engineers/#{@engineer.id}", class: "nolink" %>
  </p>
  <p style="font-size:14px">
    <%= link_to "Cases", "/engineers/#{@engineer.id}/cases", class: "nolink" %> |
    <%= link_to "Solutions", "/engineers/#{@engineer.id}/solutions", class: "nolink" %> |
    <%= link_to "Bugs", "/engineers/#{@engineer.id}/bugs", class: "nolink" %>
  </p>
<% end %>
<% unless params[:engineer_id] %>
  <p style="font-size:14px">
    <%= link_to "New Solution", new_solution_path, class: "nolink" %>
  </p>
  <%= form_tag(solutions_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
  <% end %>
<% end %>


<div style="background: lightcyan; width:90%">
<ul>
  <% @solutions.each do |solution| %>
    <% unless solution.archived? %>
      <li style="text-decoration: none">
        <%= link_to solution.number, solution, style: "text-decoration: none; color: darkblue" %> - <%= solution.title %>
      </li>
    <% end %>
  <% end %>
</ul>
</div>
